#stolen-blanket .story-art{
  background-image:url('stolen-blanket-story.jpg?v=8')!important;
  background-repeat:no-repeat!important;
  background-position:center!important;
  background-size:cover!important;
}
